* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    min-height: 100%;
    width: 100%;
    background: rgb(230,212,222);
    background: linear-gradient(180deg, rgba(230,212,222,1) 0%, rgba(152,144,199,1) 35%);
}