.container {
    display: flex;
    justify-content: flex-end;
    height: 50px;
    background: steelblue;
}

.container .menu {
    width: 800px;
    display: flex;
    justify-content: space-between;
    padding: 13px 70px;
}

.container .menu .nav {
    color: white;
    text-decoration: none;
}