.container {
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.packs_list {
    display: flex;
    justify-content: space-between;
    background: #FEFEFF;
    width: 1600px;
    height: 800px;
    border-radius: 10px;
    font-family: Arial, serif;
}

.control_panel {
    display: flex;
    flex-direction: column;
    width: 250px;
    padding-top: 200px;
    background: #ECECF9;
    text-align: center;
}

.range {
    width: 100%;
}

.new_pack_name {
    width: 100%;
}

.packs_items {
    flex: 2;
    padding: 20px;
    margin: auto;
}

.table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}